/* @ https://fonts.google.com/specimen/Nunito?query=nun#standard-styles*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

:root{
    --blue:#305083;
    --grey:#f5f5f5;
    --black2: #999;

}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
     width:75px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;  
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover, .navigation ul li.hovered
{
     background: white;
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li:hover a, .navigation ul li.hovered a{
    color: var(--blue);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 57px;
    text-align: center;
    font-size: 1.75em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    background: transparent;
    pointer-events: none;

   
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    background: transparent;
    pointer-events: none;

   
}


/*main*/
.main{
    position: absolute;
    width: calc(100% - 300px );
    left :300px;
    min-height: 100vh;
    background: white;
    transition: 0.5s;
}
.main.active{
    /*75*/
    width: calc(100% - 75px );
    left: 75px;
}

.topbar{
     width: 100%;
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 10px;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;

}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;

}

.search label{
    position: relative;
    width: 100%;

}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label .icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
    color: #999;
}

.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover ;
}

.cardBox{
    position: relative;
    width: 95%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:30px;

}

.cardBox .card{
    position: relative;
    background:white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .number{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);

}

.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBox{
    font-size: 3.4em;
    color: var(--black2);
}

.cardBox .card:hover{
    background: var(--blue);
}

.cardBox .card:hover .number, 
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox{
    color: white;
}

.update-form-container{
    position: fixed;
    top:-700%; 
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background:rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .update-form-container.active {
    top:0;
  }

  .update-form-container form{
    border-color: white;
    padding:1.5rem 2rem;
    border-radius: .5rem;
    background:#fff;
    width:30rem;
    height: 30.3rem;
    
    
  }

  .update-form-container form h3 {
    font-size: 2rem;
    color:var(--blue);
    text-transform: uppercase;
    text-align: center;
    padding:1rem 0;
  }

  .update-form-container form .box{
    width:100%;
    padding:1rem;
    font-size: 1rem;
    color:#333;
    margin:.6rem 0;
    border:.1rem solid rgba(0,0,0,.3);
    text-transform: none;
    border-radius: 12px;
    font-family: Bell MT;
    
  }
  .update-form-container form .box:focus {
    border-color: var(--blue);
  }

  .update-form-container form .btn{
    display: block;
    width:100%;
    border-radius: 12px;
    font-size: 21px;
    background:#305083;
    color: #fff;
    height: 45px;
  }

  .update-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
  }

  
.details{
    position: relative;
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr ;
    grid-gap:20px;

}

.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 500px;
    background: white;
    padding: 20px;
    box-shadow:  0 7px 25px rgba(0, 0, 0, 0.08);
   border-radius: 20px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.cardHeader i{
    cursor: pointer;
}

.cardHeader h2{
    font-weight: 600;
    color: var(--main-color);
}

.cardHeader h4{
    font-weight: 400;
    color: var(--main-color);
   
}


.wrapper{
    /* border: 1px solid black;*/
     padding: 1%;
     width: 80%;
     margin: 0 auto;
 }

 .btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color:#2ed573 ;  
}
.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: rgb(2, 2, 2);
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757; 
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: #305083;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    
}

.details table{
     width: 100%;
     border-collapse: collapse;
     margin-top: 10px;
}

.details table thead td{
   font-weight: 600;
}

.details .recentOrders table tr{
    color: var(--color-dark);
    border-bottom: 1px solid rgba(0, 0, 0,0.1);
}

.details .recentOrders table tr:last-child{
    border-bottom: none;
}

/*.details .recentOrders table tbody tr:hover{
    background-color: var(--main-color);
    color: white;
}*/

.details .recentOrders table tr td{
    padding: 10px;
}